NEXT_PUBLIC_SITE_URL="https://www.racetrack-competition.example"
NEXT_PUBLIC_STATIC_EXPORT="false"
NEXT_PUBLIC_ENQUIRY_EMAIL=""

ENQUIRY_RECIPIENT_EMAIL=""
RESEND_API_KEY=""

NEXT_PUBLIC_ANALYTICS_ID=""
ANTI_SPAM_SECRET_KEY=""
